:80 {
    handle /api/files* {
        respond 404
    }
    handle /api/* {
        reverse_proxy 127.0.0.1:8000
    }
    handle /files* {
        respond 403
    }
    handle /lighthouse/* {
        reverse_proxy 127.0.0.1:9000 {
            header_up Host {host}
            transport http {
                read_timeout 0
                write_timeout 0
                response_header_timeout 0
            }
        }
    }
    handle {
        root * {$LIGHTHOUSE_STATIC_DIR}
        file_server
    }
}

:4405 {
    handle /api/* {
        reverse_proxy 127.0.0.1:8000
    }
    handle {
        root * {$LIGHTHOUSE_STATIC_DIR}
        file_server
    }
}